**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
*.pywzz
*.pyzzz
*.pywzzz
*_pycache_*

# Coverage files
htmlcov/
.coverage
.coverage.*
coverage.xml
*.coverage

# Test artifacts
*.csv
data_*.csv

# macOS
.DS_Store