**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
*.pywzz
*.pyzzz
*.pywzzz
*_pycache_*

htmlcov/
.coverage
.coverage.*
.coverage.*.*
.coverage.*.*.*
.coverage.*.*.*.*
.coverage.*.*.*.*.*
.coverage.*.*.*.*.*.*
.coverage.*.*.*.*.*.*.*
.coverage.*.*.*.*.*.*.*.*
.coverage.*.*.*.*.*.*.*.*.*
.coverage.*.*.*.*.*.*.*.*.*.*

.DS_Store